<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto post-form-container">
      <h2 class="h2">回答</h2>
      <%= form_with(url: create_response_path,model: @response, local: true, method: :post, html: { class: 'post-form' } ) do |f| %>
        <% if @response.errors.any? %>
          <ul>
            <% @response.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <div class="form-group">
          <%= f.label "回答概要", class: 'form-label' %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label "本文", class: 'form-label' %>
          <%= f.text_area :content, class: 'form-control' %>
        </div>

        <div class="button-group">
          <%= f.submit '投稿する', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>